@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

:root {
    --main-background-color: #1f2937;
    --second-background-color:#e5e7eb;
    --main-font-color:#f9faf8;
    --secondary-font-color: #e5e7eb;
    --dark-font-color: #1f2937;
    --details-color: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    padding: 1rem 13rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.introduction-subsection {
    width: 45%;
}

.introduction-image {
    background-color: rgb(105, 103, 121);
    width: 45%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

h3 {
    font-size: 36px;
    text-align: center;
}

nav { 
    color: var(--secondary-font-color);
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 10px;
}

button {
    background-color: var(--details-color);
    color: var(--main-font-color);
    border-radius: 5px;
    padding: 5px 25px;
    margin: 10px 0;
    border: none;
}

.information-section {
    text-align: center;
    padding: 2rem 12rem;
}

.information-section img {
    border: 4px solid var(--details-color);
    border-radius: 13px;
    width: 10rem;
    height: 10rem;
}

.information-section ul {
    padding: 2rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information-section p {
    padding: 1rem;
    max-width: 10rem;
}

.quote-section {
    background-color: var(--second-background-color);
    padding: 3rem 20rem;
    color: var(--dark-font-color);
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-section-author {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.call-to-action-section {
    background-color: var(--details-color);
    color: var(--secondary-font-color);
    padding: 3rem 12rem;
    margin: 5rem 12rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-section button {
    border: 2px solid white;
}

.call-to-action-main-text {
    color: var(--main-font-color);
    font-weight: bold;
    font-size: 1.5rem;
}

footer {
    background-color: var(--main-background-color);
    color: var(--secondary-font-color);
    padding: 2rem 10rem;
    text-align: center;
}